#root {
  margin: 0 auto;
}

body{
  background: #0a0a0a;
  min-height: 100vh;
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
  margin: 0;
}

.shadow-custom {
  box-shadow: -5px 0px 54px 6px rgba(0, 0, 0, 0.65);
}

.shadow_custom_red:hover{
  box-shadow: 0px 0px 50px rgb(229, 18, 18);
}

.button {
  position: relative; 
}

.button .button_read_before,
.button .button_read_after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  transition: .6s;
}

.button:hover .button_read_before,
.button:hover .button_read_after {
  width: 100%;
  height: 100%;
}

.button .button_read_before {
  width: 10px;
  height: 10px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  top: 0;
  left: 0;
}

.button .button_read_after {
  width: 10px;
  height: 10px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  bottom: 0;
  right: 0;
}

.background-footer{
  background-image: linear-gradient( 120deg, hsl(0deg 0% 0%) 0%, hsl(0deg 0% 0%) 8%, hsl(0deg 0% 1%) 15%, hsl(0deg 0% 1%) 23%, hsl(0deg 0% 1%) 31%, hsl(0deg 14% 10%) 38%, hsl(0deg 38% 23%) 46%, hsl(0deg 61% 36%) 54%, hsl(0deg 84% 49%) 62%, hsl(0deg 99% 57%) 69%, hsl(0deg 99% 55%) 77%, hsl(0deg 99% 53%) 85%, hsl(0deg 100% 52%) 92%, hsl(0deg 100% 50%) 100% )
}

.moving{
  animation: moving 2s linear infinite;
}

@keyframes moving{
  0%{
      left: -35px;
  }
  100%{
      left: 100%;
  }
}